.Favourites {
    text-align: center;
}

.Favourites__NoList {
    font-weight: bold;
}

.Favourites__LoadMore {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Favourites__Link {
    color: var(--colorText);
    font-size: var(--fontSizeLg);
    font-weight: bold;
    text-decoration: none;
    background-color: #5b6474;
    padding: 10px;
    border-radius: 5px;
}

.Favourites__LinkBack {
    color: var(--colorText);
}
